.signup-container {

    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #e6f0fd;
    padding: 2rem; 
  
  .signup-card {
    background: #0A2C66;
    padding: 2rem; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px; 
    margin: auto; 
    color: white;
  
    .logo {
      text-align: center;
      margin-bottom: 2rem; 
      img {
        max-width: 100px; 
      }
    }
  
    .tab-menu {
      display: flex;
      justify-content: space-around;
      margin-bottom: 1rem; 
  
      .tab {
        padding: 0.6rem 1rem; 
        border: none;
        background: none;
        cursor: pointer;
        font-weight: bold;
        position: relative;
        font-size: 1rem; 
        color: white;
        &.active {
          color: #ffffff;
  
          &:after {
            content: '';
            position: absolute;
            bottom: -10px; 
            left: 50%;
            transform: translateX(-50%);
            width: 80%; 
            height: 4px; 
            background: #71ABDF;
            border-radius: 2px;
          }
        }
      }
    }
    .signup-form {
      .form-group {
        margin-bottom: 1rem;
        .is-invalid {
          border-color: #dc3545;
        }
        .invalid-feedback {
          color: #dc3545;
          display: none; 
        
          &.ng-invalid.ng-touched {
            display: block; 
          }
        }
        label {
          display: block;
          margin-bottom: 0.5rem; 
        }
  
        input {
          width: 100%;
          padding: 0.8rem;
          border: 1px solid #ccc;
          border-radius: 4px;
  
          &:focus {
            outline: none;
            border-color: #43658B;
            box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); 
          }
        }
  
        .invalid-feedback {
          color: #dc3545;
          display: none;
  
          input.ng-invalid.ng-touched + & {
            display: block;
          }
        }
      }
  
      .btn-signup,
      .btn-google {
        width: 100%;
        padding: 1rem;
        border: none;
        border-radius: 4px;
        font-weight: bold;
        margin-bottom: 1rem; 
        cursor: pointer;
  
        &:hover {
          background-color: darken($color: #71ABDF, $amount: 5%);
        }
      }
  
      .btn-signup {
        background-color: #71ABDF;
        color: #fff;
      }
    }
   }
  }